<head>
  <!-- /Users/mrussell/code/rust/tv-trackr/templates/ -->
  <link href="/static/head.html" rel="import" />
  <link href="/static/styles.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript">
   currently_unhidden_id = null;
   
   toHidden = function(id) {
       return "#hidden_" + id
   }

   toggleHidden = function(id, args) {
       console.log("Toggling " + id);
       var update_state = args.update_state;
       var hidden_div = $(id)
       if (hidden_div.css("display") == "none") {
           hidden_div.css("display", "");
           if (update_state) { currently_unhidden_id = id; };
       } else {
           hidden_div.css("display", "none")
           if (update_state) { currently_unhidden_id = null; };
       }
   };
       
   ClickedId = function(id) {
       var id = toHidden(id);

       if (currently_unhidden_id && !(currently_unhidden_id == id)) {
           console.log("Hiding " + currently_unhidden_id);
           toggleHidden(currently_unhidden_id, { update_state: true })
       }
       
       toggleHidden(id, { update_state: true })
   };
   
   ChangeSeenId = function(id, args) {
       console.log("now I've seen: " + id);
       var up_to = args.up_to;
       var update_to_seen = args.update_to_seen;
       var url_basename_prefix = update_to_seen ? "" : "havent-";
       var url_basename_suffix = up_to ? "seen-shows-up-to" : "seen-show";
       $.ajax({
           url: "http://localhost:3000/" + url_basename_prefix + url_basename_suffix,
           type: "POST",
           data: id,
           dataType: "json",
           success: function (newly_updated_ids) {
               console.log("response: " + newly_updated_ids);
               newly_updated_ids.forEach(function(id) {
                   target = "#" + id + " > .box"
                   if (update_to_seen) {
                       $(target).removeClass("new");
                       $(target).addClass("seen");
                   } else {
                       $(target).removeClass("seen");
                       $(target).addClass("new");
                   };
                   var args = { update_state: false };
                   toggleHidden("#" + id + "_havent_seen", args);
                   toggleHidden("#" + id + "_seen", args);
               });
               if (currently_unhidden_id == toHidden(id)) {
                   toggleHidden(toHidden(id), { update_state: true })
               }
	       $("#response_from_server").html(newly_updated_ids.join(', '));
           },
           error: function (xhr, ajaxOptions, thrownError) {
	       console.log(xhr.status);
	       console.log(thrownError);
           }
       });
   };
  </script>
</head>

<body>
  <div id="response_from_server" style="display:none"></div>
  {{#each shows as |show|}}
    <div>
      <h3>{{ name }}</h3>
      <div style="white-space:nowrap">
	{{#each show.episodes as |e|}}
          <div
              id="{{ e.unique_id }}" 
              style="display: inline-block; margin: 10px; text-align: center"
          >
            <div 
                id="hidden_{{ e.unique_id }}" 
                class="hidden-box" 
                style="display: none;"
            >
              <div
                  id="{{ e.unique_id }}_havent_seen"
                  {{#if e.seen }}{{ else }}style="display: none;"{{/if}}
              >
                <div class="hidden-box" >Haven't seen: </div>
                <div
                    class="hidden-box new"
                    onclick="ChangeSeenId('{{ e.unique_id }}', { update_to_seen: false, up_to: false})" 
                >
                  This
                </div>
                <div
                    class="hidden-box new"
                    onclick="ChangeSeenId('{{ e.unique_id }}', { update_to_seen: false, up_to: true})" 
                >
                  All up to
                </div>
              </div>
              <div
                  id="{{ e.unique_id }}_seen" 
                  {{#if e.seen }}style="display: none;"{{ else }}{{/if}}
              >
                <div class="hidden-box" >Seen: </div>
                <div
                    class="hidden-box seen"
                    onclick="ChangeSeenId('{{ e.unique_id }}', { update_to_seen: true, up_to: false})" 
                >
                  This
                </div>
                <div
                    class="hidden-box seen"
                    onclick="ChangeSeenId('{{ e.unique_id }}', { update_to_seen: true, up_to: true})" 
                >
                  All up to
                </div>
              </div>
            </div>
	    <div 
                class="box {{ e.seen_class }}" 
                onclick="ClickedId('{{ e.unique_id }}')" 
            >
	      Season {{ e.episode.season }}, Episode {{ e.episode.episode }}
              <br />
	      <span class="aire_date">{{ date e.episode.aire_date }}</span>
              <br />
	      {{ e.episode.name }}
	    </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</body>
