<head>
  <!-- /Users/mrussell/code/rust/tv-trackr/templates/ -->
  <link href="/static/head.html" rel="import" />
  <link href="/static/styles.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript">
   currently_unhidden_id = null;
   
   toHidden = function(id) {
       return "#hidden_" + id + "_seen"
   }
   
   toggleHidden = function(id) {
       console.log("Toggling " + id);
       var hidden_div = $(id)
       if (hidden_div.css("display") == "none") {
           hidden_div.css("display", "");
           currently_unhidden_id = id;
       } else {
           hidden_div.css("display", "none")
           currently_unhidden_id = null;
       }
   };
       
   ClickedId = function(id) {
       var id = toHidden(id);

       if (currently_unhidden_id && !(currently_unhidden_id == id)) {
           console.log("Hiding " + currently_unhidden_id);
           toggleHidden(currently_unhidden_id)
       }
       
       toggleHidden(id)
   };
   
   SeenId = function(id) {
       var resultDiv = $("#response_from_server");
       console.log("now I've seen: " + id);
       $.ajax({
           url: "http://localhost:3000/seen-show",
           type: "POST",
           data: id,
           dataType: "json",
           success: function (newly_seen_ids) {
               console.log("response: " + newly_seen_ids);
               newly_seen_ids.forEach(function(id) {
                   target = "#" + id + " > .box"
                   $(target).removeClass("new");
                   $(target).addClass("seen");
               });
               if (currently_unhidden_id == toHidden(id)) {
                   toggleHidden(toHidden(id))
               }
	       resultDiv.html(newly_seen_ids.join(' '));
           },
           error: function (xhr, ajaxOptions, thrownError) {
	       alert(xhr.status);
	       alert(thrownError);
           }
       });
   };
  </script>
</head>

<body>
  <div id="response_from_server" style="display:none"></div>
  {{#each shows as |show|}}
    <div>
      <h3>{{ name }}</h3>
      <div style="white-space:nowrap">
	{{#each show.episodes as |e|}}
          <div
              id="{{ e.unique_id }}" 
              style="display: inline-block; margin: 10px;"
          >
            <div 
                id="hidden_{{ e.unique_id }}_seen" 
                class="hidden-box" 
                style="display: none;"
            >
              {{#if e.seen }}
              <div
                  class="hidden-box new"
                  onclick="SeenId('{{ e.unique_id }}')" 
              >
                Haven't seen
              </div>
              <div
                  onclick="ClickedId('{{ e.unique_id }}')" 
              >
                Haven't seen all episodes <=
              </div>
              {{ else }}
              <div
                  class="hidden-box seen"
                  onclick="SeenId('{{ e.unique_id }}')" 
              >
                Seen
              </div>
              <div
                  onclick="ClickedId('{{ e.unique_id }}')" 
              >
                Seen all episodes <=
              </div>
              {{/if}}
            </div>
	    <div 
                class="box {{ e.seen_class }}" 
                onclick="ClickedId('{{ e.unique_id }}')" 
            >
	      Season {{ e.episode.season }}, Episode {{ e.episode.episode }}
              <br />
	      <span class="aire_date">{{ date e.episode.aire_date }}</span>
              <br />
	      {{ e.episode.name }}
	    </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</body>
