<head>
  <!-- /Users/mrussell/code/rust/tv-trackr/templates/ -->
  <link href="/static/head.html" rel="import" />
  <link href="/static/styles.css" type="text/css" rel="stylesheet" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script type="text/javascript">
   ClickedId = function(id) {
       var hidden_id = "#hidden_" + id + "_seen"
       console.log("hidden id: " + hidden_id);
       var hidden_div = $(hidden_id)
       console.log("hidden_div.html: " + hidden_div.html());
       if (hidden_div.css("display") == "none") {
           hidden_div.css("display", "")
       } else {
           hidden_div.css("display", "none")
       }
   };
   SeenId = function(id) {
       var resultDiv = $("#response_from_server");
       console.log("now I've seen: " + id);
       $.ajax({
           url: "http://localhost:3000/seen-show",
           type: "POST",
           data: id,
           dataType: "json",
           success: function (result) {
	       resultDiv.html(result);
               location.reload();
               window.location.hash = '#' + id;
           },
           error: function (xhr, ajaxOptions, thrownError) {
	       alert(xhr.status);
	       alert(thrownError);
           }
       });
   };
  </script>
</head>
<body>
  <div id="response_from_server"></div>
  {{#each shows as |show|}}
    <div>
      <h3>{{ name }}</h3>
      <div style="white-space:nowrap">
	{{#each show.episodes as |e|}}
          <div id="{{ e.unique_id }}" style="display: inline-block;">
            <div id="hidden_{{ e.unique_id }}_seen" class="hidden-box" onclick="SeenId('{{ e.unique_id }}')" style="display: none;">Mark as seen</div>
	    <div class="box {{ e.seen_class }}" onclick="ClickedId('{{ e.unique_id }}')">
	      Season {{ e.episode.season }}, Episode {{ e.episode.episode }}<br />
	      <span class="aire_date">{{ date e.episode.aire_date }}</span><br />
	      {{ e.episode.name }}
	    </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</body>
