<head>
  <!-- /Users/mrussell/code/rust/tv-trackr/templates/ -->
  <link href="/static/head.html" rel="import" />
  <link href="/static/styles.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript">
   currently_unhidden_id = null;
   
   ToHidden = function(id) {
       return "#hidden_" + id + "_seen"
   }
   
   ToggleHidden = function(id) {
       console.log("Toggling " + id);
       var hidden_div = $(id)
       if (hidden_div.css("display") == "none") {
           hidden_div.css("display", "");
           currently_unhidden_id = id;
       } else {
           hidden_div.css("display", "none")
           currently_unhidden_id = null;
       }
   };
       
   ClickedId = function(id) {
       var id = ToHidden(id);

       if (currently_unhidden_id && !(currently_unhidden_id == id)) {
           console.log("Hiding " + currently_unhidden_id);
           ToggleHidden(currently_unhidden_id)
       }
       
       ToggleHidden(id)
   };
   SeenId = function(id) {
       var resultDiv = $("#response_from_server");
       console.log("now I've seen: " + id);
       $.ajax({
           url: "http://localhost:3000/seen-show",
           type: "POST",
           data: id,
           dataType: "json",
           success: function (response) {
               console.log("response: " + response);
	       resultDiv.html(response);
               if (response) {
                   window.location.hash = '#' + id;
                   window.location.reload(true);
               } else {
                   ToggleHidden(ToHidden(id));
               }
           },
           error: function (xhr, ajaxOptions, thrownError) {
	       alert(xhr.status);
	       alert(thrownError);
           }
       });
   };
  </script>
</head>

<body>
  <div id="response_from_server"></div>
  {{#each shows as |show|}}
    <div>
      <h3>{{ name }}</h3>
      <div style="white-space:nowrap">
	{{#each show.episodes as |e|}}
          <div id="{{ e.unique_id }}" style="display: inline-block;">
            <div id="hidden_{{ e.unique_id }}_seen" class="hidden-box" onclick="SeenId('{{ e.unique_id }}')" style="display: none;">Mark as seen</div>
	    <div class="box {{ e.seen_class }}" onclick="ClickedId('{{ e.unique_id }}')">
	      Season {{ e.episode.season }}, Episode {{ e.episode.episode }}<br />
	      <span class="aire_date">{{ date e.episode.aire_date }}</span><br />
	      {{ e.episode.name }}
	    </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}

  <script>
   <!-- This is so that after reload, the page is at the anchor. -->
   $( document ).ready(function() {
       if (window.location.hash) {
           window.location.href = window.location.hash;
       }
       var current_scroll = $(window).scrollTop();
       console.log("current scroll: ", current_scroll);

       /* This prints out as if I affected the scrollTop, but then my window is still at the old location*/
       $(window).scrollTop(current_scroll - 50);

       var current_scroll = $(window).scrollTop();
       console.log("current scroll: ", current_scroll);
   })
  </script>
</body>
