<head>
  <!-- /Users/mrussell/code/rust/tv-trackr/templates/ -->
  <link href="/static/head.html" rel="import" />
  <link href="/static/styles.css" type="text/css" rel="stylesheet" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script type="text/javascript">
   ClickedId = function(id) {
       var resultDiv = $("#response_from_server");
       
       $.ajax({
           url: "http://localhost:3000/test-post",
           type: "POST",
           data: { id: id },
           dataType: "json",
           success: function (result) {
	       resultDiv.html(result)
           },
           error: function (xhr, ajaxOptions, thrownError) {
	       alert(xhr.status);
	       alert(thrownError);
           }
       });
   };
  </script>
</head>
<body>
  <div id="response_from_server"></div>
  {{#each shows as |show|}}
    <div>
	    <h3>{{ name }}</h3>
	    <div style="white-space:nowrap">
		    {{#each episodes}}
		      <div class="box {{ seen_class }}" onclick="ClickedId({{ id }})">
			      Season {{ season }}, Episode {{ episode }}<br />
			      <span class="aire_date">{{ date aire_date }}</span><br />
			      {{ name }}
		      </div>
        {{/each}}
	    </div>
	  </div>
  {{/each}}
</body>
